<div class="processbox">
  <h2>How it Works</h2>

  <div class="processbox__content">
    <div class="card green">
      <h3 class="card__step">1</h3>
      <h4>Upload Design</h4>
      <img
        class="card__image"
        src="/assets/img/home/processbox/design.svg"
        alt=""
      />
      <p>
        Upload a CAD File To start, simply select a manufacturing process and
        upload a 3D CAD file.
      </p>
    </div>

    <div class="card orange">
      <h3 class="card__step">2</h3>
      <h4>Get Quote</h4>
      <img
        class="card__image"
        src="/assets/img/home/processbox/quote.svg"
        alt=""
      />
      <p>
        Within a day we'll send you design for manufacturability (DFM) analysis
        and real-time pricing.
      </p>
    </div>

    <div class="card blue">
      <h3 class="card__step">3</h3>
      <h4>Confirm Order</h4>
      <img
        class="card__image"
        src="/assets/img/home/processbox/order.svg"
        alt=""
      />
      <p>Make necessary changes in design and confirm order</p>
    </div>

    <div class="card red">
      <h3 class="card__step">4</h3>
      <h4>Manufacturing</h4>
      <img
        class="card__image"
        src="/assets/img/home/processbox/manufacturing.svg"
        alt=""
      />
      <p>After order confirmation, manufacturing begins.</p>
    </div>

    <div class="card purple">
      <h3 class="card__step">5</h3>
      <h4>Order Delivered</h4>
      <img
        class="card__image"
        src="/assets/img/home/processbox/delivery.svg"
        alt=""
      />
      <p>Order will be shipped in as low as 7 days.</p>
    </div>
  </div>
</div>
